* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.gpd-navbar{
  width:100%;
}
.gpd-navbar__menu{
  display:none;
}
.gpd-navbar__item{
  flex:0 1 auto;
}
.gpd-navbar__item-link{
  color:inherit;
  text-decoration:none;
}
#ikqk{
  padding:0;
}
#ipkp{
  justify-content:space-between;
  align-items:center;
  min-height:auto;
  color:#212529;
  padding:10px 0 10px 0;
}
#iglc{
  flex:0 1 auto;
  padding:5px 5px 5px 0;
}
#igsl{
  flex:0 1 auto;
}
#imgk{
  width:35px;
  height:35px;
  cursor:pointer;
}
#ixeqi{
  flex:0 1 auto;
}
#iezcd{
  align-items:center;
  min-height:auto;
  font-weight:100;
}
#c1263{
  font-family:Open Sans, sans-serif;
  background-color:rgba(0,0,0,0);
}
#iomr5{
  padding:0 0 50px 0;
  color:#000000;
  font-family:Open Sans, sans-serif;
}
#it1eh{
  text-align:center;
}
#ib9jg{
  padding:10px 10px 10px 0;
}
#igk9h{
  height:3px;
  margin:10px 10px 10px 10px;
}
#id5vk{
  align-self:center;
}
#ioibb{
  font-family:Open Sans, sans-serif;
  color:#000000;
}
#i8fo2{
  text-decoration:none;
  margin:0 20px 0 0;
}
#izak6{
  font-family:Open Sans, sans-serif;
  color:#000000;
}
#ijrzf{
  margin:0 20px 0 0;
}
#i0y7i{
  font-family:Open Sans, sans-serif;
  color:#000000;
}
#i9hyh{
  display:inline-block;
  padding:5px 5px 5px 0;
  min-height:50px;
  min-width:50px;
}
#iqbgi{
  color:black;
  height:80px;
}
#ime3y{
  padding:100px 0 100px 0;
  border:1px solid #EBEBEB;
}
#ixebn{
  align-self:center;
}
#iuvhp{
  text-align:center;
  font-family:Open Sans, sans-serif;
}
#i83qq{
  align-self:center;
  flex-basis:97.2%;
}
#ikve81{
  color:#000000;
}
#izmng4{
  background-color:rgba(0,0,0,0);
}
#ixn96e{
  background-color:rgba(0,0,0,0);
}
#ivcf8s{
  font-family:Open Sans, sans-serif;
}
#im0re{
  display:inline-block;
  padding:5px 5px 5px 0;
  min-width:50px;
  color:#000000;
}
#i5rnt{
  margin:0  0 0;
}
#i91sl{
  display:inline-block;
  padding:5px 5px 5px 0;
  min-width:50px;
}
#io3eq{
  margin:0  0 0;
}
#i4fgn{
  display:inline-block;
  padding:5px 5px 5px 0;
  min-width:50px;
}
#iud9y{
  margin:0  0 0;
}
#i7y4o{
  display:inline-block;
  padding:5px 5px 5px 0;
  min-width:50px;
}
#ibe0m{
  margin:0  0 0;
}
#i8bfk{
  display:inline-block;
  padding:5px 5px 5px 0;
  min-width:50px;
}
#iozha{
  margin:0  0 0;
}
#i5b4je{
  background-color:rgba(0,0,0,0);
}
#imeqzr{
  padding:150px 0 150px 0;
  border:1px solid #EBEBEB;
  color:#000000;
}
#ipqrdg{
  text-align:center;
  font-family:Open Sans, sans-serif;
}
#iwbl2v{
  align-self:center;
}
#ispy9l{
  color:black;
  height:150px;
  opacity:0.5;
  transition:opacity 0.2s ease;
}
#ifhg6g{
  align-self:center;
}
#i2rn4d{
  color:black;
  height:150px;
  opacity:0.5;
  transition:opacity 0.2s ease;
}
#i9kjwq{
  align-self:center;
}
#ivmm5y{
  color:black;
  height:150px;
  opacity:0.5;
  transition:opacity 0.2s ease;
}
#i8fo2:hover{
  text-decoration:none;
}
#ispy9l:hover{
  opacity:1;
}
#ivmm5y:hover{
  opacity:1;
}
#i2rn4d:hover{
  opacity:1;
}
#itv3o2{
  display:inline-block;
  padding:5px;
  min-height:50px;
  min-width:50px;
}
#ilnj09{
  display:inline-block;
  padding:5px;
  min-height:50px;
  min-width:50px;
}
#i3jiig{
  display:inline-block;
  padding:5px;
  min-height:50px;
  min-width:50px;
}
#ijrzf:hover{
  text-decoration:underline;
}
#iu1nxd{
  color:#000000;
  background-color:rgba(0,0,0,0);
}
#ir4xbg{
  text-align:center;
  font-family:Open Sans, sans-serif;
  background-color:rgba(0,0,0,0);
}
#ibl7ii{
  color:#000000;
}
#i3kgz5{
  color:black;
  height:80px;
}
#ighy17{
  display:inline-block;
  padding:5px;
  min-height:50px;
  min-width:50px;
  background-color:rgba(0,0,0,0);
}
#ityo5i{
  height:3px;
  margin:10px 10px 10px 10px;
}
#iz7984{
  height:3px;
  margin:10px 10px 10px 10px;
  background-color:rgba(0,0,0,0);
}
#irwybg{
  color:#000000;
}
#ijsp0x{
  background-color:rgba(0,0,0,0);
}
#irwybg:hover{
  color:#e281ae;
}
#ikve81:hover{
  color:#e281ae;
}
#ibl7ii:hover{
  color:#e281ae;
}
#i5rnt:hover{
  color:#e281ae;
}
#io3eq:hover{
  color:#e281ae;
}
#iud9y:hover{
  color:#e281ae;
}
#ibe0m:hover{
  color:#e281ae;
}
#iozha:hover{
  color:#e281ae;
}
#ibw432{
  height:300px;
  width:375px;
}
#i08xvi{
  height:300px;
  width:375px;
}
#i0mkgd{
  height:350px;
  width:425px;
}
#iel9hg{
  background-color:#4791da;
}
#ifwbaf{
  height:3px;
  margin:10px 10px 10px 10px;
  background-color:rgba(0,0,0,0);
}
#igjlz{
  height:3px;
  margin:10px 10px 10px 10px;
  background-color:rgba(0,0,0,0.05);
}
@media (max-width: 768px){
  .gpd-navbar__menu{
    display:block;
  }
  .gpd-navbar__items{
    display:none;
    width:100%;
  }
  .gpd-navbar__item{
    flex:1 1 100%;
  }
  .gpd-navbar__items-grid{
    flex-wrap:wrap;
  }
  .gpd-navbar__item-link{
    width:100%;
  }
  #imgk{
    color:#000000;
  }
}
